<%= form_with(model: grade, local: true) do |form| %>

  <div class="classes-id-field">
    <%= form.hidden_field :classes_id %>
    <%= hidden_field_tag 'classes_id', params[:id] %>
  </div>

  <div class="scores-field">
    <%= form.label :scores %>
    <%= form.text_field :scores %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
