<%= form_with(model: grade, local: true) do |form| %>
<<<<<<< HEAD
 
=======

  <div class="classes-id-field">
    <%= form.hidden_field :classes_id %>
    <%= hidden_field_tag 'classes_id', params[:id] %>
  </div>
>>>>>>> 6c013063e0742ae7d6356a7c7ec3a8ec194da454

  <div class="scores-field">
    <%= form.label :scores %>
    <%= form.text_field :scores %>
  </div>

<<<<<<< HEAD
  <div class="classes-field">
    <%= form.label :classes_id %>
    <%= form.text_field :classes_id %>
  </div>  



=======
>>>>>>> 6c013063e0742ae7d6356a7c7ec3a8ec194da454
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
