<%= form_with(model: trip, local: true) do |form| %>
 <div class="form">
  <h1>New Trip</h1>
    <div class="title-field">
      <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :trip_title %>
      </div>
    </div>
    <div class="description-field">
      <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :trip_description %>
      </div>
    </div>
    <div class="date-field">
      <div class="field">
      <%= form.label :date %>
      <%= form.datetime_select :date, id: :trip_date %>
      </div>
    </div>
    <div class="student_id-field">
      <div class="field">
        <%= form.label :student_id %>
        <%= form.text_field :student_id, id: :trip_student_id %>
      </div>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
</div>
<% end %>
