<div class="hero-image">

  <% if current_user%>
        <div class="hero-text">
          <h1> Welcome <%= current_user.first_name %> </h1>
        </div>


        <% if current_user.admin?%>
          <div class="hero-choice">
            <div class="box">
              <a href="/users/<%= current_user.id %>/list_teacher"><%= image_tag("teacher.png", class: "box-image")%> View Teachers</a></div>
            <div class="box"><a href="/users/<%= current_user.id %>/list_client">   <%= image_tag("family.png", class: "box-image")%>View Clients</a></div>
            <div class="box"><a href="/classes"><%= image_tag("class.png" , class: "box-image")%>View Classes</a></div>
            <div class="box"><a href="/subjects"><%= image_tag("subject.png" , class: "box-image")%>View Subjects</a></div>
          </div>
        <% elsif current_user.teacher?%>
          <div class="hero-choice">
            <div class="box"><a href="/classes"><%= image_tag("class.png" , class: "box-image")%>View Classes</a></div>
          </div>
        <% elsif current_user.client?%>
          <div class="hero-choice">
            <div class="box">
                <a href="/"><%= image_tag("classroom.png", class: "box-image")%>Attendance Report</a>
            </div>
            <div class="box"><a href="/student/<%=current_user.id%>/show"><%=image_tag("student.png", class: "box-image") %>View Children</a></div>
            <div class="box"><a href="/users/<%= current_user.id %>/list_grades"><%= image_tag("diploma.png" , class: "box-image")%>Grades Report</a></div>
          </div>         
        <%end%>










      <% else %>
      <head>
        <style>
          .hero-image {
              background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7857ea46fded9c0fcb5b65b9a20a41d9&auto=format&fit=crop&w=841&q=80");
              height: 100%;
              background-position: center;
              background-repeat: repeat;
              background-size: cover;
              position: relative;
          }

          .hero-text{
            margin-top: 15%;
          }       



        </style>
      </head>
        <div class="hero-text">
          <h1>Clean Tutoring System</h1>
          <h2> Sign in as </h2>
          <a href="/sign_in">Admin</a>
          <a href="/sign_in">Teacher </a>
          <a href="/sign_in">Parent</a>
        </div>
  <% end %>
</div>




