<!-- Two parts to this, one if would show all teachers under admin. one would show students under teacher -->
<head>
  <style>

  table{
    width:80%;
  }
  h1{
    text-align:center;
  }
  a{
    text-align: center;
  }
  </style>
</head>
<h1> Display all teachers </h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name </th>
    <th>Gender </th>
    <th>Phone </th>
    <th>Email</th>
  </tr> 

  <% @teacher.each do |teacher| %>

	  <tr>
	    <td><%= teacher.first_name%></td>
	    <td><%= teacher.last_name%></td>
	    <td><%= teacher.gender%></td>
	    <td><%= teacher.phone%></td>
      <td><%= teacher.email%></td>
<!-- 
      <td> <a href="/student/<%= teacher.id %>/new"> Assign Student for this Teacher </a> </td> -->
	  </tr>

  <% end %>
</table>

<a href="/users/<%= current_user.id%>/create_teacher" style="margin-left: 150px;"> Register Teacher </a>