  <% if current_user.client? %>
    <h1> <%= current_user.first_name %> <%= current_user.last_name %>'s children </h1>
  <% else %>
    <h1> Display all students under <%= current_user.first_name %> </h1>
  <% end %>

<table>
  <tr>
    <th>First Name</th>
    <th> | </th>
    <th>Last Name </th>
    <th> | </th>
    <th>Gender </th>
    <th> | </th>
    <th>Phone </th>
  </tr> 

  <% @student.each do |student| %>

	  <tr>
	    <td><%= student.first_name%></td>
      <td> | </td>
	    <td><%= student.last_name%></td>
      <td> | </td>
	    <td><%= student.gender%></td>
      <td> | </td>
	    <td><%= student.phone%></td>
	  </tr>

  <% end %>
</table>

  <% if current_user.admin?  %>
    <%= link_to 'Deregister', students, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% else %>
  <% end %>