  <div class="subject-id-field">
    <%= form.hidden_field :subject_id %>
    <%= hidden_field_tag 'subject_id', params[:subject_id] %>
  </div>

  <div class="user-id-field">
    <%= form.hidden_field :user_id %>
    <%= hidden_field_tag 'user_id', current_user.id %>
  </div>

  <div class="first_name-field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% @student.each do |s|%>
  <p> <%=s.first_name %> <%=s.last_name %> <%=s.id %> </p>

<% end %>
