<head>
  <style>
    table{
      width: 20%;
    }

  </style>
</head>



  <div class="subject-id-field">
    <%= form.hidden_field :subject_id %>
    <%= hidden_field_tag 'subject_id', params[:subject_id] %>
  </div>

  <div class="first_name-field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>ID</th>
    </tr>


    <% @student.each do |s|%>
    <tr>
      <td> <%=s.first_name %> </td>
      <td> <%=s.last_name %> </td>
      <td> <%=s.id %> </td>
    </tr>
    <% end %>
  </table>

