<p id="notice"><%= notice %></p>

<h1>Classes</h1>

<table>

  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
   <tr>
        <th> Subject name </th>
        <th> Year Level </th>
        <th> Price ($) </th>
    </tr>

    <% @classroom.each do |classroom| %>
      <tr>
        <td> <%=classroom.subject_name %> </td>
        <td> <%=classroom.level %> </td>
        <td> <%=classroom.price %> </td>
        <% if current_user.admin? || current_user.teacher? %>
        <td><a href="/classes/<%=classroom.id %>/show"> View Pupils in Class </a></td>
        <% else %>
        <% end %>
        <% if current_user.admin? %>
          <td> <a href="/classes/<%=classroom.id%>/new"> Assign students to this Class </a> </td>
        <% end %>
      </tr>
    <% end %>

  </tbody>
</table>
