<p id="notice"><%= notice %></p>

<h1>Classes</h1>

<table>

  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
   <tr>
        <th> Subject name </th>
        <th> Year Level </th>
        <th> Price ($) </th>
    </tr>

    <% @classroom.each do |classroom| %>
      <tr>
        <td> <%=classroom.subject_name %> </td>
        <td> <%=classroom.level %> </td>
        <td> <%=classroom.price %> </td>
        <td><a href="/classes/<%=classroom.id %>/show"> View Pupils in Class </a></td>
        <td> <a href="/classes/<%=classroom.id%>/new"> Add student to this subject </a> </td>
        <td><a href="/attend/<%=classroom.id%>/new">Mark today's attendance</a></td>
      </tr>
    <% end %>

  </tbody>
</table>

