<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>

	<tr>
    	<th> Student name </th>
      <th> Phone </th>
  </tr>

    <% @classes.each do |classes| %>
      <% @student.where(id: classes.student_id).each do |s| %>
        <tr>
          <td><%=s.first_name %> <%=s.last_name %></td>
          <td><%=s.phone %></td>
            <% if current_user.admin? %>
            <td><%= link_to 'Deregister', classes, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>
      <% end %>
    <% end %>    
            
  </tbody>
</table>