<p id="notice"><%= notice %></p>

<h1>Students for <%=@subject.subject_name%> class</h1>


<table>
  <tr>
    <th>Name</th>
    <th>Grade</th>
    </tr>
    <%@classes.each do |a|%>
      <%@student.where(id: a.student_id).each do |b|%>
    <tr>
      <td><%=b.first_name%></td>
        <%@grade.where(classes_id: a.id.to_i).each do |c|%>
        <td><%=c.scores%></td>
        <%end%>
      <td><a href="/grades/<%=a.id%>/new">Grade Student</a></td>
    </tr>
      <%end%>
    <%end%>
</table>