<p id="notice"><%= notice %></p>

<h1>Students for <%=@subject.subject_name%> class</h1>


<table>
  </thead>
  <tr>
    <th>Name</th>
    <th>Grade</th>
  </tr>
  </thead>

  <tbody>

  <% @classes.each do |x| %>
    <% @student.where(id: x.student_id).each do |y| %>
      <tr>
        <td><%=y.first_name %> <%=y.last_name %></td>
        <%@grade.where(classes_id: x.id).each do |z|%>
          <td><%=z.scores%><td>
          <% end %> 
          <td><a href="/grades/<%=@subject.id%>/<%=x.id%>/new">Grade Student</a></td>
          <% if current_user.admin? %>
             <td><%= link_to 'Destroy', class_path(x.id), :method => :delete, data: {:confirm => 'Are you sure?'} %></td>
          <% end %>
      </tr>
    <% end %>
  <% end %>    
          
</tbody>



</table>
