<%= form_with(model: subject, local: true) do |f| %>
<div class="form">

  <h1>New Subject</h1>

    <div class="subject_name-field">
      <div class="field">
      <%= f.label :subject_name %>
      <%= f.text_field :subject_name %>
    </div>
    </div>

    <div class="level-field">
      <div class="field">
      <%= f.label :year_level %>
      <%= f.text_field :level %>
    </div>
    </div>

    <div class="price-field">
      <div class="field">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
    </div>

    <div class="start_time-field">
      <div class="field">
      <%= f.label :start_time %>
      <%= f.text_field :start_time %>
    </div>
    </div>

    <div class="end_time-field">
      <div class="field">
      <%= f.label :end_time %>
      <%= f.text_field :end_time %>
    </div>
    </div>

   <div class="id-field">
    <div class="field">
      <%= f.hidden_field :user_id %>
      <%= hidden_field_tag 'user_id', params[:id] %>
    </div>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
</div>
<% end %>
