  <style>

  table{
    width:80%;
  }
  h1{
    text-align:center;
  }
  a{
    text-align: center;
  }

  .background{
    background-color:grey;
    margin-left: 100px;
    margin-right: 100px;
  }


  </style>
  <div class="background">
<p id="notice"><%= notice %></p>

<h1>Subjects</h1>

<table>


  <tbody>
   <tr>
        <th> Subject name </th>
        <th>Year Level</th>
        <th>Price</th>
        <th> </th>
        <th> </th>
    </tr>
    <% @subjects.each do |subject| %>
      <tr>
        <td> <%=subject.subject_name %></td>
        <td> <%=subject.level %></td>
        <td> <%=subject.price %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Show', subject %></td>
          <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
      
        <% else %>
          <td><%= link_to 'Show', subject %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="/subjects/<%=current_user.id%>/new" style="color:black;"> Create new Subject </a>
</div>