<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://unpkg.com/ionicons@4.1.1/dist/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body>
  <title>Cts</title>
  <!-- Add if checks here to present different navbars for different users, e.g. admin, teacher, parents -->


<div class="grid-container">
      <% if current_user == nil %>
             <ul>
              <li> <%= image_tag("owl.png")%> </li>
              <li><a href="/">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="/sign_in">Login</a></li>
            </ul>
      <% else %>
          <% if current_user.admin? %>
<<<<<<< HEAD
            <!-- <div class="header">
                <div class="logo">
                    <i class="fa fa-tachometer"></i>
                    <span>CTS</span>
                </div>
                <a href="#" class="nav-trigger"><span></span></a>
            </div> -->
            <div class="side-nav">
                <div class="logo">
                    <i class="fa fa-tachometer"></i>
                    <span>CTS</span>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="/">
                                <span><i class="fa fa-user"></i></span>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/users/<%= current_user.id %>/list_client">
                                <span><i class="fa fa-envelope"></i></span>
                                <span>View Clients</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/users/<%= current_user.id %>/list_teacher">
                                <span><i class="fas fa-chalkboard-teacher"></i></span>
                                <span>View Teacher</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span><i class="far fa-star"></i></span>
                                <span>Assign Grades</span>
                            </a>
                        </li>
                        <li>
                            <a href="/classes">
                                <span><i class="far fa-star"></i></span>
                                <span>View Classes</span>
                            </a>
                        </li>           
                        <li>
                            <a href="/subjects">
                                <span><i class="far fa-star"></i></span>
                                <span>View Subjects</span>
                            </a>
                        </li>                                                    
                         <li>
                            <a href="#">
                                <span><i class="far fa-star"></i></span>
                                <span><a id="button-right"><%= button_to "Sign out", sign_out_path, method: :delete %></a></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>




          <% elsif current_user.teacher? %>


           <!--  <div class="header">
                <div class="logo">
                    <i class="fa fa-tachometer"></i>
                    <span>CTS</span>
                </div>
                <a href="#" class="nav-trigger"><span></span></a>
            </div> -->
            <div class="side-nav">
                <div class="logo">
                    <i class="fa fa-tachometer"></i>
                    <span>CTS</span>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="/">
                                <span><i class="fa fa-user"></i></span>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/users/<%= current_user.id %>/list_client">
                                <span><i class="fa fa-envelope"></i></span>
                                <span>Attendance</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/user/list_student">
                                <span><i class="fas fa-chalkboard-teacher"></i></span>
                                <span>View Students</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span><i class="far fa-star"></i></span>
                                <span>Assign Grades</span>
                            </a>
                        </li>
                         <li>
                            <a href="#">
                                <span><i class="far fa-star"></i></span>
                                <span><a id="button-right"><%= button_to "Sign out", sign_out_path, method: :delete %></a></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

=======
        		 <ul>
              <li> <%= image_tag("owl.png")%> </li>
        		  <li><a href="/">Home</a></li>
              <a id="button-right"> <li> <%= button_to "Sign out", sign_out_path, method: :delete %> </li></a>
        		</ul>
          <% elsif current_user.teacher? %>
            <ul>
              <li> <%= image_tag("owl.png")%> </li>
              <li><a href="/">Home</a></li>
              <a id="button-right"> <li> <%= button_to "Sign out", sign_out_path, method: :delete %> </li></a>
            </ul>
>>>>>>> f8255b97b5c2886ea964426bcb2d950adb2a948d
          <% else %>
            <ul>
              <li> <%= image_tag("owl.png")%> </li>
              <li><a href="/">Home</a></li>
              <a id="button-right"> <li> <%= button_to "Sign out", sign_out_path, method: :delete %> </li></a>
            </ul>
          <% end %> 
      <% end %>


<div class="main-content">
   <%= yield %>
    </div>
    
<!--     <div class="footer">
    <footer>
      <p>Copyrights Reserved to CTS Sdn Bhd</p> 
    </footer>
    </div> -->
<!--   </div> -->
  </body>
</html>
