<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>

  <body>
  <title>Cts</title>
  <!-- Add if checks here to present different navbars for different users, e.g. admin, teacher, parents -->

      <% if current_user == nil %>
             <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Pricing Plans</a></li>
              <li><a href="/sign_in">Login</a></li>
            </ul>
      <% else %>
          <% if current_user.admin? %>
        		 <ul>
        		  <li><a href="/">Home</a></li>
<<<<<<< HEAD
        		  <li><a href="/">Attendance Trackin</a></li>
        		  <li><a href="/user/list_teacher">View All Teachers</a></li>
=======
        		  <li><a href="/">Attendance Tracking</a></li>
        		  <li><a href="/users/<%= current_user.id %>/list_teacher">View All Teachers</a></li>
>>>>>>> 67421d12ce7d34503cc5ebe6effaafade3b2cca6
              <li><a href="/users/<%= current_user.id %>/list_client">View All Clients</a></li>
              <li><a href="#">Assign Grades</a></li>
              <a id="button-right"> <li> <%= button_to "Sign out", sign_out_path, method: :delete %> </li></a>
        		</ul>
          <% elsif current_user.teacher? %>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/">Attendance Tracking</a></li>
              <li><a href="/user/list_student">View all Students</a></li>
              <li><a href="/users/<%= current_user.id %>/list_client">View All Clients</a></li>
              <li><a href="#">Assign Grades</a></li>
              <li><a <%= button_to "Sign out", sign_out_path, method: :delete %> </a></li>
            </ul>
          <% else %>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#">Attendance Report</a></li>
              <li><a href="#">View My Children</a></li>
              <li><a href="#">Grades Report</a></li>
              <li><a <%= button_to "Sign out", sign_out_path, method: :delete %> </a></li>
            </ul>
          <% end %> 
      <% end %>


    <%= yield %>
  </body>
</html>
